<div class="modal-bg"></div>
<h1>Room: <span id="roomCode"></span></h1>
<div id="player"></div>
<div class="allow-sound-modal">
  <h2 class="modal-title">Allow Sound</h2>
  <button class="btn">Yes</button>
</div>
<script>
  const roomCode = '<%= roomCode %>'
</script>
<script src="/js/main.js"></script>
<script src="/js/joined.js"></script>